ul.contact_list {
  list-style: none;
  padding: 0;
}

.contact_list li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "Arial", sans-serif;
}

.contact_list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 10px;
  height: 10px;
  background-color: #6166e4; /* Color del bullet */
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra para el bullet */
}
